.creeper {
  /* display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: auto minmax(0, 1fr);
  grid-template-rows: repeat(8, auto);
  grid-gap: 0; */

  /* display: table;
  table-layout: auto;
  width: 100%; */
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(8, auto);
  /* width: 100%; */
}

body {
  width: 100vw;
}



.g, .b {
  display: inline-block;
  width: 12.5vw;
  height: 12.5vh;

  /* display: table-cell;
  width: 100%;
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.g {
  background-color: green;
}

.b {
  background-color: black;
}