.creeper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(8, auto);
}

body {
  width: 100vw;
}



.g, .b {
  display: inline-block;
  width: 12.5vw;
  height: 12.5vh;
}

.g {
  background-color: green;
}

.b {
  background-color: black;
}