.creeper {
  width: 100vw;
  height: 100vh;
  display: grid;
  flex-direction: column;
  aspect-ratio: 3 / 2;

}

body {
  width: 100vw;
}



.g, .b {
  display: inline-block;
  width: 12.5vw;
  height: 12.5vh;
}

.g {
  background-color: green;
}

.b {
  background-color: black;
}