.wrapper {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 20%;
}

.btn {
  border: 2px solid black;
  border-radius: 8px;
  background-color: white;
  color: black;
  width: 10%;
  height: 2rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
}

.letter {
  justify-content: center;
  align-self: center;
  margin: auto;
}

.active {
  border: 5px solid orange;
  background-color: yellow;
  color: red;
}

h2 {
  text-align: center;
}